<!--The content below is only a placeholder and can be replaced.-->
 
<header>
  <nav class="container mt-3">
    <div class="d-flex">
    <div class="flex-fill">
     <ul>
       <li><a routerLink="/lists">All Services</a></li>
     </ul>
    </div>
    <div class="flex-fill">
        <h1 class="hs-center-align">
            Welcome to {{ title }}!
        </h1>
    </div>
    <div class="flex-fill">
      <ul>
        <li>Help</li>       
      </ul>
    </div>
  </div>
  </nav>
</header>
<section>  
  <router-outlet></router-outlet>
</section>
<footer class="hs-border-top">
  <div class="container mt-4 mb-5">
    <div class="d-flex">
      <ul class="d-flex flex-fill">
        <li>Privacy Policy</li>
        <li>|</li>
        <li>About</li>
      </ul>
      <div class="flex-fill">Terms and Conditions</div>
      <div class="flex-fill">2020 Copyright</div>
    </div>  
  </div>
</footer>
  
 
